# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_df = pd.read_csv("../WeatherPy/output_data/cities.csv")
cities_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Atuona,-9.80,-139.03,26.33,75,37,7.85,PF,1595028797
1,Rikitea,-23.12,-134.97,23.02,82,100,6.76,PF,1595028908
2,Itupiranga,-5.13,-49.33,26.00,69,1,0.42,BR,1595029082
3,Kodinsk,58.69,99.18,10.86,66,90,4.00,RU,1595029082
4,Yellowknife,62.46,-114.35,20.00,40,75,3.60,CA,1595028744
...,...,...,...,...,...,...,...,...,...
485,Domoni,-12.26,44.53,24.15,70,79,7.67,KM,1595029223
486,Fort Nelson,58.81,-122.70,22.00,53,75,3.60,CA,1595028929
487,Barra do Garças,-15.89,-52.26,21.91,41,0,0.88,BR,1595029224
488,Mt. Pleasant,32.79,-79.86,30.56,70,1,2.60,US,1595029225
489,Camacha,33.08,-16.33,21.00,83,40,4.10,PT,1595028908

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = cities_df[["Lat", "Lng"]].astype(float)

# Store Humidity in humidity
humidity = cities_df["Humidity"].astype(float)
max_humidity = humidity.max()

In [4]:
# Plot Heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=max_humidity, point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
narrowed_cities_df = cities_df.loc[(cities_df["Max Temp"] >= 30) & (cities_df["Max Temp"] <= 80) & (cities_df["Cloudiness"] == 0) & (cities_df["Wind Speed"] <= 10), :]
#print(narrowed_city_df)
narrowed_cities_df = narrowed_cities_df.dropna(how='any')
narrowed_cities_df.reset_index(inplace=True)
del narrowed_cities_df['index']
narrowed_cities_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Adrar,20.50,-10.07,35.07,23,0,2.04,MR,1595028742
1,Riyadh,24.69,46.72,32.00,13,0,4.10,SA,1595028937
2,Mulegé,26.88,-111.98,35.19,32,0,3.42,MX,1595029176
3,Taoudenni,22.68,-3.98,37.37,19,0,3.66,ML,1595028943
4,Sakakah,29.97,40.21,31.00,10,0,4.10,SA,1595028917

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# Create a hotel_df
hotel_df = narrowed_cities_df.loc[:,["City","Country", "Lat", "Lng"]]

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

# Display the result
hotel_df

        City Country    Lat     Lng Hotel Name
0      Adrar      MR  20.50  -10.07
1     Riyadh      SA  24.69   46.72
2     Mulegé      MX  26.88 -111.98
3  Taoudenni      ML  22.68   -3.98
4    Sakakah      SA  29.97   40.21

In [12]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 10000,
          "key" : g_key}

In [13]:
import time
for index, row in hotel_df.iterrows():
    # get city name, lat, lnt from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
    
    # Wait 1 sec to make another api request to avoid SSL Error
    time.sleep(1)

# Print end of search once searching is completed
print("-------End of Search-------")

Retrieving Results for Index 0: Adrar.
Missing field/result... skipping.
------------
Retrieving Results for Index 1: Riyadh.
Closest hotel in Riyadh is The Ritz-Carlton, Riyadh.
------------
Retrieving Results for Index 2: Mulegé.
Closest hotel in Mulegé is Cuesta Real Hotel.
------------
Retrieving Results for Index 3: Taoudenni.
Missing field/result... skipping.
------------
Retrieving Results for Index 4: Sakakah.
Closest hotel in Sakakah is فندق الحنوة.
------------
-------End of Search-------

In [14]:
# Display the hotel dataframe
hotel_df.head()

        City Country    Lat     Lng                Hotel Name
0      Adrar      MR  20.50  -10.07
1     Riyadh      SA  24.69   46.72  The Ritz-Carlton, Riyadh
2     Mulegé      MX  26.88 -111.98         Cuesta Real Hotel
3  Taoudenni      ML  22.68   -3.98
4    Sakakah      SA  29.97   40.21               فندق الحنوة

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# Add marker layer and info box content ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))